{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}User Preferences{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">User Preferences</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            
            <h5 class="mb-3">Theme Settings</h5>
            {{ form.theme_preference|as_crispy_field }}
            
            <div class="d-flex justify-content-between mt-4">
              <a href="{% url 'accounts:profile' %}" class="btn btn-secondary">Cancel</a>
              <button type="submit" class="btn btn-primary">Save Preferences</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 